#.  Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

SUPABASE_PUBLISHABLE_KEY = ""

SUPABASE_SECRET_KEY = ""

# JWT Secrets
JWT_REFRESH_SECRET=""
JWT_ACCESS_SECRET=""

# Environment (development, production)
NODE_ENV=""